/node_modules
/public/.htaccess
/public/cache
/public/hot
/public/storage
/public/sitemap.xml
/storage/*.key
/storage/installed
/vendor
Envoy.blade.php
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
dist
/beike/ShopAPI
